<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vs2019AspNetWebPackTest1</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/js/css/mystyles.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" asp-area="" asp-controller="Uploader" asp-action="Index">
                <!-- <img src="~/images/logo.jpg" width="270" height="28" asp-append-version="true">-->
            </a>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-link" style="font-weight: bold" href="/"><i class="fas fa-upload"></i>&nbsp;トップ</a>
                    <a class="button is-primary" style="font-weight: bold" href="/u/"><i class="far fa-folder-open"></i>&nbsp;まだない</a>
                    <a class="button is-warning" style="font-weight: bold" href="/delete/"><i class="far fa-trash-alt"></i>&nbsp;まだない</a>
                    <a class="button is-light" id="config_button" asp-controller="AppSettings" asp-action="Index"><i class="fas fa-cog"></i>&nbsp;まだない</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container is-fluid">
        <p>　</p>
        @RenderBody()
        <p>　</p>
    </div>
    <footer class="footer">
        <div class="content has-text-left">
            <p>Copyright &copy; @DateTime.Now.Year.ToString() IPA. All rights reserved.</p>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bundle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
