@{
    ViewData["Title"] = "Home Page";
}

<h2 class="title is-4">テストページ</h2>

<div class="box">
    <div class="content">
        <p>本文です。</p>
        <p>　</p>
        <p>JSON ビューアー</p>
        <div class="control">
            <pre class="line-numbers"><code class="language-json">
{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}
                </code></pre>
        </div>
        <p>　</p>
    </div>
</div>


@section Scripts {
    <script>
        console.log(Hoge);
        //Hoge.default();
        //Hoge.TestFunc2();
        //Hoge.Tom.HtmlTest1();
        //Hoge.Tom.GuacamoleTest1(document.getElementById("display"));
        Hoge.TestFunc1();
    </script>
}

