@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/bundle.js" asp-append-version="true"></script>
<div class="text-center">
    <div id="display"></div>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script>
    console.log(Hoge);
    Hoge.default();
    Hoge.TestFunc2();
    Hoge.Tom.HtmlTest1();
    Hoge.Tom.GuacamoleTest1(document.getElementById("display"));
</script>

